name: Upload to npmjs

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  id-token: write # For OIDC
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      # Setup .npmrc file to publish to npm
      - uses: actions/setup-node@v6
        with:
          node-version: "22.x"
          registry-url: "https://registry.npmjs.org"
      - run: yarn
      - run: yarn publish
