name: Upload to npmjs

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  id-token: write # For OIDC
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: npmjs
    steps:
      - uses: actions/checkout@v5
      # Setup .npmrc file to publish to npm

      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: "22"
          registry-url: "https://registry.npmjs.org"
          cache: "yarn"

      - name: Update npm
        run: npm install -g npm@latest

      - name: Install dependencies
        run: |
          corepack enable
          yarn install --frozen-lockfile

      - name: Build
        run: yarn build

      - name: Publish
        run: npm publish --provenance  --access public
